# --- Build Outputs ---
target/
build/
out/
bin/
*.class
*.jar
*.war
*.ear

# --- IDEs ---
# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Eclipse / STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# VS Code
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

# --- Dependencies ---
node_modules/
.mvn/wrapper/maven-wrapper.jar
/.gradle/

# --- Environment & Secrets ---
.env*
!.env.example

# --- Logs & OS ---
*.log
logs/
.DS_Store
Thumbs.db

# --- Exceptions ---
!**/src/main/**/target/
!**/src/test/**/target/